---
import { Image } from "astro:assets";
import type { ImageMetadata } from 'astro';

interface Props {
   imagePath: string;
   title: string;
   dateTime: string;
   description: string;
   calendarLink: string;
}

const {title, dateTime, imagePath, description, calendarLink} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif,svg}');
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,svg}"`);
---

<div class="event-card flex flex-col md:flex-row rounded-2xl w-full bg-secondary bg-opacity-20">
  <Image src={images[imagePath]()} alt="title" class="rounded-2xl aspect-3/2 w-full md:w-[30vw]"/>
  <div class="flex flex-col justify-between p-4 pl-6">
    <div>
      <h3 class="text-3xl font-bold font-heading text-primary">{title}</h3>
      <p class="text-text font-body pt-2">{dateTime}</p>
      <p class="text-text text-opacity-60 font-body pt-2">{description}</p>
    </div>
    <a href={calendarLink} class="hover:-translate-y-1 ease-in-out duration-200 delay-100 px-4 text-center font-bold text-text py-3 font-heading text-xl bg-accent w-48 rounded-xl">
      Add to Calendar
    </a>
  </div>
</div>